form {
    margin-bottom: 30px;
}

ul.img-thumbnails {
    float: left;
    left: 50%;
    margin-top: 11px;
    padding: 0;
    position: relative;
}

ul.img-thumbnails li {
    float: left;
    left: -50%;
    margin-right: 5px;
    position: relative;
    width: 50px;
}

ul.img-thumbnails li:last-child {
    margin-right: 0;
}

.nav-pills > li > a {
    color: #ac005f;
    cursor: pointer;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:focus,
.nav-pills > li.active > a:hover,
.btn-primary,
.btn-primary:focus,
.btn-primary:active,
.btn-primary:hover {
    background: #ac005f !important;
    border: 0;
}

.ng-invalid.ng-dirty {
    border-color: #fa787e;
}

.ng-valid.ng-dirty {
    border-color: #78fa89;
}