<!DOCTYPE html>
<html ng-app="store">
<head>
    <link rel="stylesheet" href="bower/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">
</head>
<body ng-controller="StoreController as store">

    <div class="container">
        <h1 class="text-center">Flatlander Crafted Gems</h1>
        <h2 class="text-center">- an Angular store -</h2>
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="product in store.products | limitTo:10 | orderBy:'price'">
                <h3>
                    {{product.name}}
                    <em class="pull-right">{{product.price | currency }}</em>
                </h3>

                <div class="gallery clearfix" ng-controller="GalleryController as gallery">
                    <div class="img-wrap">
                        <img class="img-circle center-block" ng-src="{{product.images[gallery.current]}}">
                    </div>
                    <ul class="img-thumbnails clearfix">
                        <li class="pull-left thumbnail" ng-repeat="image in product.images">
                            <img ng-src="{{image}}">
                        </li>
                    </ul>
                </div>

                <section ng-controller="PanelContoller as panel">
                    <ul class="nav nav-pills">
                        <li ng-class="{ active: panel.isSelected(1) }">
                            <a href="" ng-click="panel.selectTab(1)">Description</a>
                        </li>
                        <li ng-class="{ active: panel.isSelected(2) }">
                            <a href="" ng-click="panel.selectTab(2)">Specifications</a>
                        </li>
                        <li ng-class="{ active: panel.isSelected(3) }">
                            <a href="" ng-click="panel.selectTab(3)">Reviews</a>
                        </li>
                    </ul>

                    <div class="panel" ng-show="panel.isSelected(1)">
                        <h4>Description</h4>
                        <blockquote>{{product.description}}</blockquote>
                    </div>
                    <div class="panel" ng-show="panel.isSelected(2)">
                        <h4>Specifications</h4>
                        <blockquote>None yet</blockquote>
                    </div>
                    <div class="panel" ng-show="panel.isSelected(3)">
                        <h4>Reviews</h4>

                        <blockquote ng-repeat="review in product.reviews">
                            <b>Stars: {{review.stars}}</b>
                            {{review.body}}
                            <footer>by {{review.author}}</footer>
                        </blockquote>

                        <form name="reviewForm" ng-controller="ReviewController as reviewCtrl"
                            ng-submit="reviewForm.$valid && reviewCtrl.addReview(product)" novalidate>

                            <blockquote>
                                <b>Stars: {{reviewCtrl.review.stars}}</b>
                                {{reviewCtrl.review.body}}
                                <footer>by {{reviewCtrl.review.author}}</footer>
                            </blockquote>

                            <h4>Submit a Review</h4>

                            <fieldset class="form-group">
                                <select class="form-control ng-dirty ng-invalid" ng-model="reviewCtrl.review.stars" title="Stars" required>
                                    <option value="">Rate the product</option>
                                    <option value="5">5 stars</option>
                                    <option value="4">4 stars</option>
                                    <option value="3">3 stars</option>
                                    <option value="2">2 stars</option>
                                    <option value="1">1 star</option>
                                </select>
                            </fieldset>
                            <fieldset class="form-group">
                                <textarea class="form-control ng-dirty ng-invalid" ng-model="reviewCtrl.review.body" placeholder="Write a short review of the product..." title="Review" required></textarea>
                            </fieldset>
                            <fieldset class="form-group">
                                <input type="email" class="form-control ng-dirty ng-invalid" ng-model="reviewCtrl.review.author" placeholder="login@mail.com" title="Email" required>
                            </fieldset>
                            <input type="submit" class="btn btn-primary pull-right" value="Submit Review">
                        </form>

                    </div>
                </section>
            </li>
        </ul>
    </div>

    <script src="bower/angular/angular.min.js"></script>
    <script src="app.js"></script>
</body>
</html>